# macOS cruft
.DS_Store

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/
env/
env.bak/

# Node / frontend
node_modules/
**/node_modules/
.next/
**/.next/
*.log

# IDE files
.vscode/
.idea/
